    <form action="/create">
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input name = "title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="제목을 입력하세요">
        <small id="emailHelp" class="form-text text-muted">다시는 오지 않을 오늘의 제목</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">날씨</label>
        <input name = "title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="오늘의 날씨">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">오늘의 기분 태그</label>
        <input name = "tag" type="text" class="form-control" id="exampleInputPassword1" placeholder="#으로 구분하여 입력하세요 ex)#나는 #오늘도 #눈물을 #흘린다">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">내용</label>
        <textarea name = "content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>